<div>
    <h2>Data from Input Form:</h2>
    <p>Applicant Type: {{ receivedData.applicantType }}</p>
    <p>Sector: {{ receivedData.sector }}</p>
    <p>Type of Loan: {{ receivedData.typeOfLoan }}</p>
    <p>Estimated Cost Of Capital Costs: {{ receivedData.estimatedCostOfCapitalCosts }}</p>
    <p>Estimated Cost Of Operational Costs: {{ receivedData.estimatedCostOfOperationalCosts }}</p>
    <p>Financial Solvency: {{ receivedData.financialSolvency }}</p>
    <p>land Document: {{ receivedData.landDocument }}</p>
    <p>Technical and Economic Feasibility Study: {{ receivedData.tEStudy }}</p>
</div>