<div>
    <h2>Data from Input Form:</h2>
    <p>{{ receivedData }}</p>
</div>

<div>
    <h2>Data from Input Form:</h2>
    <p>Text Input: {{ receivedData.applicantType }}</p>
    <p>Number Input: {{ receivedData.sector }}</p>
    <p>Select Input: {{ receivedData.typeOfLoan }}</p>
    <p>Text Input: {{ receivedData.estimatedCostOfCapitalCosts }}</p>
    <p>Number Input: {{ receivedData.estimatedCostOfOperationalCosts }}</p>
    <p>Select Input: {{ receivedData.financialSolvency }}</p>
    <p>Text Input: {{ receivedData.landDocument }}</p>
    <p>Number Input: {{ receivedData.tEStudy }}</p>
    <!-- Display other input and select fields here -->
</div>